
.league-table {
    border-collapse: collapse;
    font-size: 1.2rem;
    width: 100%;

    th, td {
        padding: 8px 4px;
        text-align: center;
    }
    tr {
        background-color: #fafafa;
        a {
            cursor: pointer;
        }
        &:nth-child(even) {
            background-color: #eee;
        }
        &:hover {
            background-color: #9cdd9a;
        }
    }
    th {
        background-color: #4CAF50;
        color: white;
        padding: 15px 4px;
    }

    .league-table-img-logo {
        height: 40px;
    }
}
